@charset "UTF-8";
/* ========================================================================== nThrive MACRA Webinar Styles ========================================================================== */
/* ========== SCSS Variables =========== */
/* Colors */
/* Font Families */
/* ========== Base =========== */
body { color: #444444; }

p { font-size: 1.15em; }

h1, h2, h3, h4, h5, h6 { font-family: "Oswald", "Helvetica", "Arial", sans-serif; }

p { font-family: "Open Sans", "Helvetica", "Arial", sans-serif; }

a { color: #ec3106; }

a:hover { color: #ec3106; font-weight: bold; text-decoration: underline; }

section { padding-top: 4em; padding-bottom: 6em; }

.section__header { text-align: center; font-size: 2.6em; }

.section__header span { height: 14px; background: #ec3106; display: block; text-align: center; margin: .22em auto 2.5em auto; }

.button { border: 2px solid #444; margin-top: 2em; display: inline-block; background: linear-gradient(to left, transparent 50%, #444 50%); background-size: 200% 100%; background-position: right bottom; transition: all 1s ease; font-family: "Open Sans", "Helvetica", "Arial", sans-serif; font-weight: 700; font-size: 1.15em; padding: 8px 40px; color: #444; }

.button:hover { background-position: left bottom; color: white; }

/* ========== Transitions ============ */
#gear_1.active { -ms-transform: rotate(-12deg); -moz-transform: rotate(-12deg); -webkit-transform: rotate(-12deg); transform: rotate(-12deg); }

#gear_2.active { -ms-transform: rotate(-50deg); -moz-transform: rotate(-50deg); -webkit-transform: rotate(-50deg); transform: rotate(-50deg); }

#gear.index-2 { -ms-transform: rotate(50deg); -moz-transform: rotate(50deg); -webkit-transform: rotate(50deg); transform: rotate(50deg); }

#gear_3.active { -ms-transform: rotate(-130deg); -moz-transform: rotate(-130deg); -webkit-transform: rotate(-130deg); transform: rotate(-130deg); }

#gear.index-3 { -ms-transform: rotate(130deg); -moz-transform: rotate(130deg); -webkit-transform: rotate(130deg); transform: rotate(130deg); }

#gear_4.active { -ms-transform: rotate(130deg); -moz-transform: rotate(130deg); -webkit-transform: rotate(130deg); transform: rotate(130deg); }

#gear.index-4 { -ms-transform: rotate(-130deg); -moz-transform: rotate(-130deg); -webkit-transform: rotate(-130deg); transform: rotate(-130deg); }

#gear_5.active { -ms-transform: rotate(40deg); -moz-transform: rotate(40deg); -webkit-transform: rotate(40deg); transform: rotate(40deg); }

#gear.index-5 { -ms-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -webkit-transform: rotate(-60deg); transform: rotate(-60deg); }

.init-down, .init-up, .init-left, .init-right { opacity: 0; -ms-transition: none; -webkit-transition: none; -moz-transition: none; transition: none; }

.init-down { -ms-transform: translateY(50px); -moz-transform: translateY(50px); -webkit-transform: translateY(50px); transform: translateY(50px); }

.init-up { -ms-transform: translateY(-50px); -moz-transform: translateY(-50px); -webkit-transform: translateY(-50px); transform: translateY(-50px); }

.init-left { -ms-transform: translateX(-50px); -moz-transform: translateX(-50px); -webkit-transform: translateX(-50px); transform: translateX(-50px); }

.init-right { -ms-transform: translateX(50px); -moz-transform: translateX(50px); -webkit-transform: translateX(50px); transform: translateX(50px); }

.halfDelay { -webkit-transition-delay: 0.5s !important; transition-delay: 0.5s !important; }

.oneDelay { -webkit-transition-delay: 1s !important; transition-delay: 1s !important; }

.one_HalfDelay { -webkit-transition-delay: 1.5s !important; transition-delay: 1.5s !important; }

.one_ThreeQuartersDelay { -webkit-transition-delay: 1.75s !important; transition-delay: 1.75s !important; }

.onscreen .init-down, .onscreen .init-up, .onscreen .init-left, .onscreen .init-right { -webkit-transition: -webkit-transform 0.9s, opacity 0.9s; -moz-transition: -moz-transform 0.9s, opacity 0.9s; transition: transform 0.9s, opacity 0.9s; opacity: 1; -ms-transform: translateX(0px); -moz-transform: translateX(0px); -webkit-transform: translateX(0px); transform: translateX(0px); }

/* ========== Hero Section =========== */
.hero { position: relative; width: 100%; background: url("../img/hero.jpg"); background-size: cover; background-attachment: fixed; height: 800px; }

.hero__content { position: absolute; top: 0; bottom: 0; right: 10%; left: 100%; padding: 8em 2em; color: white; background: rgba(239, 49, 6, 0.9); }

.hero__content h1 { font-size: 4em; }

.hero__content p { font-style: italic; margin-top: 1em; }

.section__header span { width: 8.5em; }

/* ========== Section 3 | Call to Action 1 | Customized MIPS Data Submission from nThrive™ =========== */
.cta-1 { background: #eee; text-align: center; }

.cta-1 figure { margin-top: 4.5em; }

.cta-1 figure img { max-width: 100%; display: block; margin: 0 auto; }

.cta-1 h2 { font-size: 2.8em; }

/* ========== Section 4 | Call to Action 2 | Join Us for Our Upcoming Webinar =========== */
.cta-2 { background: url("../img/background_colorizedBlurred.jpg"); background-position: top center; background-attachment: fixed; background-size: cover; min-height: 500px; color: #FFFFFF; text-align: center; padding: 7em 5em 6em 5em; }

.cta-2 h2 { font-size: 2.3em; margin-bottom: 1.6em; }

.cta-2 h4 { font-size: 1.6em; line-height: 1.4; margin-bottom: 1.6em; }

.cta-2 .button { color: #FFFFFF; border-color: #FFFFFF !important; }

/* ========== Section 3 | Interactive Gears =========== */
.interactive-section { padding-bottom: 0; }

.interactive { position: relative !important; background: url("../img/background_gears.jpg"); background-position: center; background-size: cover; min-height: 520px; overflow: hidden; padding: 0 2em 1em 2em; }

.interactive-section .section__head { background: #FFFFFF; width: 100%; padding: 1em 2em 6em 2em; text-align: center; }

.interactive-section .section__head p { font-size: 1.2em; }

.interactive__content { display: none; position: static; text-align: left !important; }

.interactive__content h4 { font-size: 2.2em; display: none; }

.interactive__content-close { display: none; float: right; color: #FFFFFF; font-size: 1.5em; position: absolute; top: 1em; right: 3em; transition: color 0.3s ease; }

.interactive__content-close:hover { color: #ec3106; }

.interactive ul { padding-left: 0; margin-top: 30px; }

.interactive ul li { position: static; text-align: left; list-style: none; z-index: 9000; }

.interactive__header { padding: .5em 1.2em; padding-left: 15px; margin-left: -15px; border-radius: 12px; font-size: 1.4em; transition: all 0.5s ease; }

.interactive__header:hover { background: #ec3106; color: #FFFFFF; cursor: pointer; }

#interactive__item-1 { left: 40%; top: 2em; }

#interactive__item-2 { left: 65%; top: 32%; }

#interactive__item-3 { left: 60%; bottom: 2em; }

#interactive__item-4 { right: 60%; bottom: 2em; }

#interactive__item-5 { right: 61%; top: 32%; }

#gear, .gears_alt { display: none; -ms-transition-duration: 1s; -webkit-transition-duration: 1s; transition-duration: 1s; -ms-transition-property: all; -webkit-transition-property: all; transition-property: all; }

#gear { position: absolute; width: 340px; left: 50%; margin: -180px 0 0 -170px; top: 60%; z-index: 8888; -webkit-transform-origin: center 55%; transform-origin: center 55%; }

.gears_alt { position: absolute; width: 300px; z-index: 8800; opacity: .4; }

.gears_alt.active { opacity: 1; }

#gear_1 { left: 50%; top: -160px; margin-left: -150px; }

#gear_2 { left: 60%; }

#gear_3 { left: 56%; bottom: -180px; }

#gear_4 { right: 56%; bottom: -160px; }

#gear_5 { right: 58%; }

/* ========== Media Queries =========== */
@media screen and (min-width: 768px) { .cta-1 { text-align: left; }
  .cta-1 figure { margin-top: 1.5em; }
  #gear, .gears_alt { display: block; }
  .interactive ul li { position: absolute; text-align: center; }
  .interactive__header { font-size: 2em; padding-left: 1.2em; }
  .interactive__content h4 { display: block; }
  .interactive__content { display: none; position: fixed; z-index: 9999 !important; padding: 2.5em 6em; top: 15%; left: 12%; bottom: inherit; right: 12%; background: rgba(88, 88, 88, 0.96); color: #FFFFFF; border-radius: 12px; overflow: hidden; }
  .interactive__content-close { display: block; } }
/* end min-width: 768px */
@media screen and (min-width: 992px) { .hero__content { padding: 14em 7em; }
  .hero__content h1 { font-size: 5.5em; }
  .cta-1 h3 { max-width: 70%; }
  .interactive { min-height: 750px; }
  .interactive-section .section__head { padding: 1em 12em 6em 12em; }
  .gears_alt { width: 400px; }
  #gear { width: 450px; top: 50%; left: 50%; margin: -180px 0 0 -225px; }
  #gear_1 { margin-left: -200px; top: -200px; } }
/* end min-width: 992px */

/*# sourceMappingURL=main.css.map */
