/* ========== Base =========== */

body {
  color: #444444;
}

p {
  font-size: 1.15em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_1;
}

p {
  font-family: $font_2;
}

a {
  color: $primary-color;
}

a:hover {
  color: $primary-color;
  font-weight: bold;
  text-decoration: underline;
}

section {
  padding-top: 4em;
  padding-bottom: 6em;
}

.section__header {
  text-align: center;
  font-size: 2.6em;
}

.section__header span {
  height: 14px;
  background: $primary-color;
  display: block;
  text-align: center;
  margin: .22em auto 2.5em auto;
}

.button {
  border: 2px solid #444;
  margin-top: 2em;
  display: inline-block;
  background: linear-gradient(to left, transparent 50%, #444 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 1s ease;
  font-family: $font_2;
  font-weight: 700;
  font-size: 1.15em;
  padding: 8px 40px;
  color: #444;
}

.button:hover {
  background-position: left bottom;
  color: white;
}
