@mixin transform-rotate($angle) {
  -ms-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin translate-Y($yvalue) {
  -ms-transform: translateY($yvalue);
  -moz-transform: translateY($yvalue);
  -webkit-transform: translateY($yvalue);
	transform: translateY($yvalue);
}

@mixin translate-X($xvalue) {
  -ms-transform: translateX($xvalue);
  -moz-transform: translateX($xvalue);
  -webkit-transform: translateX($xvalue);
	transform: translateX($xvalue);
}
