/* ========== Media Queries =========== */

@media screen and (min-width: 768px) {

  .cta-1 {
    text-align: left;
  }

  .cta-1 figure {
    margin-top: 1.5em;
  }

  #gear, .gears_alt {
    display: block;
  }

  .interactive ul li {
    position: absolute;
    text-align: center;
  }

  .interactive__header {
    font-size: 2em;
    padding-left: 1.2em;
  }

  .interactive__content h4 {
    display: block;
  }

  .interactive__content {
    display: none;
    position: fixed;
    z-index: 9999!important;
    padding: 2.5em 6em;
    top: 15%;
    left: 12%;
    bottom: inherit;
    right: 12%;
    background: rgba(88,88,88,0.96);
    color: $white;
    border-radius: 12px;
    overflow: hidden;
  }

  .interactive__content-close {
    display: block;
  }

} /* end min-width: 768px */

@media screen and (min-width: 992px) {

  .hero__content {
    padding: 14em 7em;
  }

  .hero__content h1 {
    font-size: 5.5em;
  }

  .cta-1 h3 {
    max-width: 70%;
  }

  .interactive {
    min-height: 750px;
  }

  .interactive-section .section__head {
    padding: 1em 12em 6em 12em;
  }

  .gears_alt {
    width: 400px;
  }

    #gear {
      width: 450px;
      top: 50%;
      left: 50%;
      margin: -180px 0 0 -225px;
    }

    #gear_1 { margin-left: -200px; top: -200px; }

} /* end min-width: 992px */
