/* ========== Transitions ============ */

#gear_1.active {
  @include transform-rotate(-12deg);
}

#gear_2.active {
  @include transform-rotate(-50deg);
}

#gear.index-2 {
  @include transform-rotate(50deg);
}

#gear_3.active {
  @include transform-rotate(-130deg);
}

#gear.index-3 {
  @include transform-rotate(130deg);
}

#gear_4.active {
  @include transform-rotate(130deg);
}

#gear.index-4 {
  @include transform-rotate(-130deg);
}

#gear_5.active {
  @include transform-rotate(40deg);
}

#gear.index-5 {
  @include transform-rotate(-60deg);
}

.init-down, .init-up, .init-left, .init-right {
	opacity: 0;
  -ms-transition: none;
  -webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

 .init-down {
	@include translate-Y(50px);
}

 .init-up {
	@include translate-Y(-50px);
}

 .init-left {
	@include translate-X(-50px);
}

 .init-right {
	@include translate-X(50px);
}

.halfDelay { -webkit-transition-delay: 0.5s!important; transition-delay: 0.5s!important; }
.oneDelay { -webkit-transition-delay: 1s!important; transition-delay: 1s!important; }
.one_HalfDelay { -webkit-transition-delay: 1.5s!important; transition-delay: 1.5s!important; }
.one_ThreeQuartersDelay { -webkit-transition-delay: 1.75s!important; transition-delay: 1.75s!important; }


.onscreen .init-down,
.onscreen .init-up,
.onscreen .init-left,
.onscreen .init-right {
	-webkit-transition: -webkit-transform 0.9s, opacity 0.9s;
	-moz-transition: -moz-transform 0.9s, opacity 0.9s;
	transition: transform 0.9s, opacity 0.9s;
	opacity: 1;
  @include translate-X(0px);
}
