/* ========== Section 3 | Call to Action 1 | Customized MIPS Data Submission from nThrive™ =========== */

.cta-1 {
  background: #eee;
  text-align: center;
}

.cta-1 figure {
  margin-top: 4.5em;
}

.cta-1 figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.cta-1 h2 {
  font-size: 2.8em;
}
