/* ========== Section 4 | Call to Action 2 | Join Us for Our Upcoming Webinar =========== */

.cta-2 {
  background: url('../img/background_colorizedBlurred.jpg');
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  color: $white;
  text-align: center;
  padding: 7em 5em 6em 5em;
}

.cta-2 h2 {
  font-size: 2.3em;
  margin-bottom: 1.6em;
}

.cta-2 h4 {
  font-size: 1.6em;
  line-height: 1.4;
  margin-bottom: 1.6em;
}

.cta-2 .button {
  color: $white;
  border-color: $white!important;
}
