/* ========== Section 3 | Interactive Gears =========== */

.interactive-section {
  padding-bottom: 0;
}

.interactive {
  position: relative!important;
  background: url('../img/background_gears.jpg');
  background-position: center;
  background-size: cover;
  min-height: 520px;
  overflow: hidden;
  padding: 0 2em 1em 2em;
}

.interactive-section .section__head {
  background: $white;
  width: 100%;
  padding: 1em 2em 6em 2em;
  text-align: center;
}

.interactive-section .section__head p {
  font-size: 1.2em;
}

.interactive__content {
  display: none;
  position: static;
  text-align: left!important;
}

.interactive__content h4 {
  font-size: 2.2em;
  display: none;
}

.interactive__content-close {
    display: none;
    float: right;
    color: $white;
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    right: 3em;
    transition: color 0.3s ease;
}

.interactive__content-close:hover {
  color: $primary-color;
}

.interactive ul {
  padding-left: 0;
  margin-top: 30px;
}

.interactive ul li {
  position: static;
  text-align: left;
  list-style: none;
  z-index: 9000;
}

.interactive__header {
  padding: .5em 1.2em;
  padding-left: 15px;
  margin-left: -15px;
  border-radius: 12px;
  font-size: 1.4em;
  transition: all 0.5s ease;
}

.interactive__header:hover {
  background: $primary-color;
  color: $white;
  cursor: pointer;
}

#interactive__item-1 { left: 40%; top: 2em; }
#interactive__item-2 { left: 65%; top: 32%; }
#interactive__item-3 { left: 60%; bottom: 2em; }
#interactive__item-4 { right: 60%; bottom: 2em; }
#interactive__item-5 { right: 61%; top: 32%; }


#gear, .gears_alt {
  display: none;
  -ms-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -ms-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
}

#gear {
  position: absolute;
  width: 340px;
  left: 50%;
  margin: -180px 0 0 -170px;
  top: 60%;
  z-index: 8888;
  -webkit-transform-origin: center 55%;
  transform-origin: center 55%;
}

.gears_alt {
  position: absolute;
  width: 300px;
  z-index: 8800;
  opacity: .4;
}

.gears_alt.active { opacity: 1; }

#gear_1 { left: 50%; top: -160px; margin-left: -150px; }
#gear_2 { left: 60%; }
#gear_3 { left: 56%; bottom: -180px; }
#gear_4 { right: 56%; bottom: -160px; }
#gear_5 { right: 58%; }
