/* ========== Hero Section =========== */

.hero {
  position: relative;
  width: 100%;
  background: url('../img/hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.hero__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 100%;
  padding: 8em 2em;
  color: white;
  background: rgba(239, 49, 6, 0.9);
}

.hero__content h1 {
  font-size: 4em;
}

.hero__content p {
  font-style: italic;
  margin-top: 1em;
}
